<header>
	<div class="container">
		<a id="logotype" href="/">
		Fixxo.
		</a>

		<div id="menu" class="">
			<nav class="menu-links links">
				<a class="link" asp-controller="Home" asp-action="Index">HOME</a>
				<a class="link" asp-controller="Product" asp-action="Index">PRODUCTS</a>
				<a class="link" asp-controller="Contact" asp-action="Index">CONTACTS</a>
			</nav>

			<nav class="menu-icons icons">
				<a class="link" asp-controller="Product" asp-action="Search">
					<i class="fa-regular fa-search"></i>
				</a>
			</nav>
		</div>

		<div id="toggle-icon" class="icons">
			<button class="link">
				<i class="fa-regular fa-bars"></i>
			</button>
		</div>
	</div>
</header>